.actorCard {
  background-color: rgb(243, 201, 118);

  max-width: 350px;
  width: 240px;
  /* min-height: 400px; */
  height: 100%;

  border-radius: 20px;

  padding: 20px;
  border: 2px solid rgb(236, 178, 64);
  /* border: 1px solid black; */

  text-align: center;
}

.actorImage {
  border-radius: 20px;
  /* border: 2px solid rgb(24, 98, 9); */
  border: 1px solid black;

  margin: 0 auto;
  display: block;

  object-fit: cover;
}

.actorName {
  background-color: rgb(209, 164, 74);
  display: inline-block;
  padding: 6px 10px;
  border-radius: 20px;

  margin: 0 auto;
}
