.moviePageUrl {
  text-decoration: none;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  overflow: hidden;

  border: 1px solid black;

  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.movieInfoWrapper {
  background-color: var(--movie-card-info-panel-color);

  padding: 8px 10px;

  font-size: 14px;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  text-align: center;

  color: #35374b;

  padding: 5px 10px;

  border: 2px solid transparent;
  border-radius: 20px;

  transition: border-color 250ms, color 250ms;
}

.moviePageUrl:hover .cardTitle {
  border-color: #fff6e9;
  color: #fff6e9;
}
