.form {
  margin: 20px auto 40px auto;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.input {
  padding: 6px 16px;
  background-color: var(--section-color);
  border: 1px solid black;
  border-radius: 20px;
}

.input:focus {
  outline: 2px solid black;
}

.searchButton {
  border: none;
  background-color: #76453b;

  border-radius: 20px;
  padding: 10px 12px;
  width: 100px;

  color: #fafafa;
}
